<%= form_for(@member) do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2>Due to <%= pluralize(@member.errors.count, "error") %>, the registration cannot be completed. Please try again!</h2>

      <ul>
      <% @member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :affiliation %><br />
    <%= f.text_field :affiliation %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :nickname %> (name as it should appear on your Name Tag)<br />
    <%= f.text_field :nickname %>
  </div>
  <div class="actions">

    <%= f.submit "Register" %>
  </div>
<% end %>
